<p id="notice"><%= notice %></p>

<h1>Listing Leistungs</h1>

<table class="table table-bordered">
  <thead style="color: white; background-color: #531">
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leistungs.each do |leistung| %>
      <tr>
        <td><%= leistung.name %></td>
        <td><%= link_to 'Show', leistung %></td>
        <td><%= link_to 'Edit', edit_leistung_path(leistung) %></td>
        <td><%= link_to 'Destroy', leistung, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Leistung', new_leistung_path, class: "btn btn-warning" %>
