<!-- Show auftrag details: -->
<p>
  <strong>Title:</strong>
  <%= @auftrag.von %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @auftrag.bis %>
</p>

<p>
  <strong>Text:</strong>
  <%= @auftrag.name %>
</p>

<!-- Show personal index: -->
<h2>Personal:</h2>
<% @auftrag.personal.each do |p| %>
  <p>
    <strong>Mitarbeiter:</strong>
    <%= p.mitarbeiter %>
  </p>
 
  <p>
    <strong>Machine:</strong>
    <%= p.machine %>
  </p>

  <p>
    <strong>Leistung:</strong>
    <%= p.leistung %>
  </p>
<% end %>

<!-- Create personal: -->
<h2>Personal editieren:</h2>
<%= form_for([@auftrag, @auftrag.personal.build]) do |f| %>

  <div>
  <%= f.label :mitarbeiter %><br>
  <%= f.select :mitarbeiter,
    Mitarbeiter.all.map { |u| [u.vorname, u.nachname] },
                 { include_blank: true },
                 { class: 'chosen-select' }
  %>
  </div>
  <br>
  <div>
  <%= f.label :machine %><br>
  <%= f.select :machine,
    Machine.all.map { |u| [u.name] },
                 { include_blank: true },
                 { class: 'chosen-select' }
  %>
  </div>
  <br>

  <div>
    <%= f.label :leitung %><br>
    <%= f.select :leistung,
    Leistung.all.map { |u| [u.name] },
                 { include_blank: true },
                 { class: 'chosen-select' }
    %>
  </div>
  <br>
    <%= f.submit %>
  </p>
<% end %>
 
<%= link_to 'Back', auftrag_path %> |
<%= link_to 'Edit', edit_auftrag_path(@auftrag) %>