<!-- Show auftrag details: -->
<p>
  <strong>Title:</strong>
  <%= @auftrag.von %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @auftrag.bis %>
</p>

<p>
  <strong>Text:</strong>
  <%= @auftrag.kunde_id %>
</p>

<!-- Show personal index: -->
<h2>Personal:</h2>
<% @auftrag.personal.each do |p| %>
  <p>
    <strong>Mitarbeiter:</strong>
    <%= p.mitarbeiter %>
  </p>
 
  <p>
    <strong>Machine:</strong>
    <%= p.machine %>
  </p>

  <p>
    <strong>Leistung:</strong>
    <%= p.leistung %>
  </p>
<% end %>

<!-- Create personal: -->
<h2>Personal editieren:</h2>
<%= form_for([@auftrag, @auftrag.personal.build]) do |f| %>
  <p>
    <%= f.label :mitarbeiter %><br>
    <%= f.text_field :mitarbeiter %>
  </p>
  <p>
    <%= f.label :machine %><br>
    <%= f.text_area :machine %>
  </p>
  <p>
    <%= f.label :leistung %><br>
    <%= f.text_area :leistung %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
 
<%= link_to 'Back', auftrag_path %> |
<%= link_to 'Edit', edit_auftrag_path(@auftrag) %>